<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/headinfo.ejs")%>
    <link rel="stylesheet" href="stylesheets/frontpage.css">
</head>
<body>
    <%- include("./partials/header.ejs")%>
    <div class="hero">
        <div class="mascara"></div>
        <h1>Ven a vivir la experiencia del FalsHotel</h1>
    </div>
</body>
</html>